*{
  margin: 0;
  padding: 0;
  list-style: none;
}
.router-link-active{
  color: white;
  font-size: 20px;
  background: orange;
}
input{
  width: 100%;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin-top: 10px;
}
.sigin{
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px 0  10px;
}
.nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  li{
    flex: 1;
    text-align: center;
    line-height: 40px;
    a{
      width: 100%;
      height: 100%;
      display: block;
      text-align: center;
      line-height: 40px;
      text-decoration: none;
    }

  }
}
.box{
  position: absolute;
  top:50px;
  width: 100%;
  height: 100%;
}